
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #212529;
    margin-top: 50px;
}

.box {
    color: #fff;
    width: 800px;
    padding: 20px;
}

.user-table{
    width: 1000px;
}

.input{
    background-color: transparent;
    border: 1px solid #fff;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

small{
    padding-left: 5px;
    color: red;
}